<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <servers>
        <server>
            <username>${env.MAVEN_USER}</username>
            <password>${env.MAVEN_PASS}</password>
            <id>central</id>
        </server>
        <server>
            <username>${env.MAVEN_USER}</username>
            <password>${env.MAVEN_PASS}</password>
            <id>snapshots</id>
        </server>
        <server>
            <username>${env.MAVEN_USER}</username>
            <password>${env.MAVEN_PASS}</password>
            <id>releases</id>
        </server>
        <server>
            <username>${env.MAVEN_USER}</username>
            <password>${env.MAVEN_PASS}</password>
            <id>release-deploy-repo</id>
        </server>
        <server>
            <username>${env.MAVEN_USER}</username>
            <password>${env.MAVEN_PASS}</password>
            <id>snapshot-deploy-repo</id>
        </server>
    </servers-->
    <profiles>
        <profile>
            <id>artifactory</id>
            <!--properties>
                <release_deploy_repo>https://ncr.jfrog.io/artifactory/digitalbanking-maven-releases</release_deploy_repo>
                <snapshot_deploy_repo>https://ncr.jfrog.io/artifactory/digitalbanking-maven-snapshots</snapshot_deploy_repo>
            </properties-->
            <!--repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>releases</id>
                    <name>digitalbanking-maven-group</name>
                    <url>https://ncr.jfrog.io/ncr/digitalbanking-maven-group</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>digitalbanking-maven-group</name>
                    <url>https://ncr.jfrog.io/ncr/digitalbanking-maven-group</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>central</name>
                    <url>https://ncr.jfrog.io/ncr/third-party-maven-central-proxy</url>
                </repository>
            </repositories-->
            <!--pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>releases</id>
                    <name>digitalbanking-maven-group</name>
                    <url>https://ncr.jfrog.io/ncr/digitalbanking-maven-group</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>digitalbanking-maven-group</name>
                    <url>https://ncr.jfrog.io/ncr/digitalbanking-maven-group</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>central</name>
                    <url>https://ncr.jfrog.io/ncr/third-party-maven-central-proxy</url>
                </pluginRepository>
            </pluginRepositories-->
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>dev</activeProfile>
        <!--activeProfile>artifactory</activeProfile-->
    </activeProfiles>
</settings>
